<!DOCTYPE html>
<html>
    <head>
        <title>Item Guesser</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://lib.reklaw.dev/styles/minimalistic.css">
        <link rel="stylesheet" href="/static/globals.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
        <script src="https://lib.reklaw.dev/lib.js"></script>
        <script src="/static/scripts/gamemode_30s.js"></script>
    </head>
    <body class="centered-children">
        <div class="navigation centered-vertically">
            <a href="/" class="title"><h2>Item Guesser</h2></a>
        </div>
        <div class="content" style="width: 35rem">
            <h2>Game Modes</h2>
            <br>
            <div class="game-mode-container">
                <a href="/game/15s" class="game-mode-button gamemode-time">
                    <img src="/static/assets/icon_timer.png">
                    <h2>15 Seconds</h2>
                </a>
                <a href="/game/30s" class="game-mode-button gamemode-time">
                    <img src="/static/assets/icon_timer.png">
                    <h2>30 Seconds</h2>
                </a>
                <a href="/game/60s" class="game-mode-button  gamemode-time">
                    <img src="/static/assets/icon_timer.png">
                    <h2>60 Seconds</h2>
                </a>
                <a href="/game/sprint5" class="game-mode-button  gamemode-sprint">
                    <img src="/static/assets/icon_sprint.png">
                    <h2>Sprint 5</h2>
                </a>
                <a href="/game/sprint10" class="game-mode-button  gamemode-sprint">
                    <img src="/static/assets/icon_sprint.png">
                    <h2>Sprint 10</h2>
                </a>
                <a href="/game/sprint20" class="game-mode-button  gamemode-sprint">
                    <img src="/static/assets/icon_sprint.png">
                    <h2>Sprint 20</h2>
                </a>
            </div>
        </div>
    </body>
</html>